Repository jenkins-infra/terraform-aws-sponsorship, pull requests merged in 2025-03, with the labels that each got.

#149 feat: add file for updatecli for `ecr.tf`
  ecr.tf
  updatecli/updatecli.d/ecr.yaml
Labels: chore, terraform-aws-ecr-module

#147 chore: add file for updatecli for `versions.tf` for `random`
  updatecli/updatecli.d/terraform-providers/random.yaml
  versions.tf
Labels: terraform-providers, hashicorp/random

#182 cleanup(network-security) remove import block after #175
  network-security.tf
Labels: chore
